{% extends 'dashbase.html' %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        header {
            background: #50b3a2;
            color: #fff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #e8491d 3px solid;
        }
        header a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }
        header ul {
            padding: 0;
            list-style: none;
        }
        header li {
            float: right;
            display: inline;
            padding: 0 20px 0 20px;
        }
        .user-list {
            background-color: #ffffff;
            margin: 20px 0;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        margin-top: 20px;
        }
        .user-list ul {
            list-style: none;
            padding: 0;
        }
        .user-list li {
            padding: 10px;
            border-bottom: 1px #ccc solid;
            border-bottom: 3px double #ccc; /* Doble línea para separar los elementos */
        }
        .user-list li a {
            text-decoration: none;
            color: #333;
        }
        .user-list li:last-child {
            border: none;
            border-bottom: none;
        }
        .centered-header {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2.5rem;
        font-weight: bold;
        color: #333;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.5); /* Sombra para efecto 3D */
        border-top: 5px solid #ccc; /* Franja superior */
        border-bottom: 5px solid #ccc; /* Franja inferior */
        padding: 20px 0; /* Espaciado para no tocar las franjas */
    }
    .user-list h2 {
        color: #333;
        text-align: center;
    }
    .user-list ul {
        list-style: none;
        padding: 0;
    }
    .user-list li i {
        margin-right: 5px; /* Espacio a la derecha del icono */
    }
    .user-list a {
        color: #007bff;
        text-decoration: none;
    }
    .user-list a:hover {
        text-decoration: underline;
    }
    .action-links {
        background-color: #f8f9fa; /* Fondo de color suave */
        padding: 10px; /* Espaciado interno */
        text-align: center; /* Centra el contenido */
        border-radius: 5px; /* Bordes redondeados */
        margin: 10px 0; /* Margen superior e inferior para separación */
    }
    .action-links a {
        color: #007bff; /* Color de los enlaces */
        text-decoration: none; /* Sin subrayado */
        margin: 0 10px; /* Espaciado entre enlaces */
        font-size: 1.2em; 
    }
    .action-links a:hover {
        text-decoration: underline; /* Subrayado al pasar el mouse */
    }
    .containerB {
        background-color: #70d678; /* Fondo de color verde suave */
        padding: 10px; /* Espaciado interno */
        text-align: center; /* Centra el contenido */
        border-radius: 5px; /* Bordes redondeados */
        margin: 10px 0; /* Margen superior e inferior para separación */
    }
    .action-links i {
        font-size: 1.5em; /* Tamaño más grande para los iconos */
    }
    </style>
<div class="content">
        <div class="container">
            <h1 class="centered-header">Bienvenido al Panel de Administración</h1>
        </div>
        <div class="container">
        <div class="user-list">
            <h2><i class="fas fa-users"></i> Lista de usuarios</h2>
            <ul>
                {% for user in users_with_info %}
                    <li><i class="fas fa-user"></i><strong>Username:</strong> {{ user.username }}</li>
                    <li><i class="fas fa-id-card"></i><strong>Nombre:</strong> {{ user.nombre }}</li>
                    <li><i class="fas fa-birthday-cake"></i><strong>Edad:</strong> {{ user.edad }}</li>
                    <li><i class="fas fa-calendar-alt"></i><strong>Fecha de Nacimiento:</strong> {{ user.fecha_nacimiento }}</li>
                    <li><i class="fas fa-phone"></i><strong>Teléfono:</strong> {{ user.telefono }}</li>
                    <li><i class="fas fa-map-marker-alt"></i><strong>Dirección:</strong> {{ user.direccion }}</li>
                    <div class="containerB">
                    <li class="action-links">
                        <a href="{% url 'edit_user' user.user_id %}"><i class="fas fa-edit"></i> Editar</a> | 
                        <a href="{% url 'delete_user' user.user_id %}"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    </li>
                   </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}