{% extends 'base.html' %}

{% block content %}

<div class="container">
<style>
    body {
        font-family: 'Times New Roman', serif;
        color: #2c3e50;
    }
    h1 {
        color: #273c75;
        font-weight: bold;
        text-align: center; /* Centrar el título */
    }
    .card {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        padding: 10px;
    }
    .card-header {
        background-color: #e9ecef;
        border-bottom: 1px solid #dee2e6;
        padding: 10px 15px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .icon {
        font-size: 30px;
        margin-right: 15px;
        color: #273c75;
    }
    h2 {
        color: #273c75;
        font-weight: bold;
        margin: 0;
        display: inline-flex;
        align-items: center;
    }
    p {
        padding: 15px;
        line-height: 1.5;
        text-align: justify; /* Justificar el texto */
       
    }
    .notes-style {
        background-color: #fff3cd; /* Color de fondo amarillo claro */
        border-left: 5px solid #ffeeba; /* Borde izquierdo más oscuro para destacar */
        font-style: italic; /* Estilo de fuente cursiva para un aspecto de nota */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra más pronunciada para resaltar */
        position: sticky; /* Posición fija al desplazarse */
        top: 20px; /* Espacio desde la parte superior */
        height: 100%; /* Altura completa */
    }
    @media (max-width: 768px) {
        .flex-column {
            flex-direction: column;
        }
    }
    .centered-title {
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Inicio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card notes-style">
                <div class="card-header">
                    <h2 class="centered-title"><span class="icon"><i class="fas fa-briefcase"></i></span>Desempleo</h2>
                    <p>
                        El desempleo representa uno de los mayores desafíos económicos y sociales para cualquier sociedad. Se refiere a la situación en la que las personas que están capacitadas y dispuestas a trabajar no pueden encontrar un empleo remunerado. Las causas del desempleo pueden ser diversas, incluyendo cambios económicos, avances tecnológicos que reducen la necesidad de mano de obra, y fluctuaciones estacionales o estructurales en la economía.
                    </p>
                    <p>
                        Las consecuencias del desempleo son profundas, afectando no solo la economía sino también el bienestar social y la calidad de vida de las personas. Puede llevar a la pobreza, reducción en el consumo, y problemas de salud mental como estrés y depresión. Combatir el desempleo requiere políticas efectivas que promuevan la creación de empleo, la educación y la capacitación laboral, así como el apoyo a las industrias emergentes.
                    </p>
                    
                </div>
            </div>
        </div>
       
        
        <div class="col-md-9">
            <div class="row">
                {% for container in containers %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header"{% if not container.title and not container.content %}style="padding: 0;"{% endif %}>
                            {% if container.title or container.content %}
                            
                            <h2 class="centered-title">
                                <span class="icon">
                                    {% if "Misión" in container.title %}
                                    <i class="fas fa-flag"></i>  <!-- Ícono de bandera para Misión -->
                                {% elif "Visión" in container.title %}
                                    <i class="fas fa-binoculars"></i>  <!-- Ícono de binoculares para Visión -->
                                {% elif "Situacion Actual" in container.title %}
                                    <i class="fas fa-chart-line"></i>  <!-- Ícono de gráfico para Situación Actual -->
                                {% else %}
                                    <i class="fas fa-eye"></i>  <!-- Ícono por defecto -->
                                {% endif %}
                            </span>
                            {{ container.title }}
                        </h2>
                        <p>
                            {{ container.content }}
                        </p>
                        {% endif %}
                        {% if container.image %}
                            <img src="{{ container.image.url }}" alt="{{ container.title }}" style="width: 100%; height: auto; display: block;">
                        {% endif %}
                        
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2 %} <!-- Cierra y abre una nueva fila cada dos tarjetas -->
                 </div><div class="row">
              {% endif %}
               {% endfor %}
                
            </div>
        </div>
      </div>
    </div>

{% endblock %}
