{% extends 'base.html' %}

{% block content %}
<style>
    .card-chart iframe {
        width: 100%;
        height: auto;
        min-height: 500px; /* Asegura una altura mínima para visibilidad */
        margin: 20px;
        width: 100%;
        height: 500px; /* Altura fija para mantener la consistencia */
        border: none; /* Elimina el borde del iframe */
    }
    .card-chart {
        margin: 10px;
        padding: 5px; /* Margen interno para crear espacio dentro del contenedor */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para destacar el contenedor */
        border: 1px solid #ddd; /* Borde sutil */
        background-color: #fff; /* Color de fondo */
        transition: transform 0.3s ease-in-out; /* Transición suave para hover */
    }
    @media (max-width: 768px) {
        .card-chart {
            margin: 10px; /* Reduce el margen en dispositivos más pequeños */
            padding: 5px; /* Reduce el padding en dispositivos más pequeños */
        }
    }
    .card-chart:hover {
        transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    }

    
    .nav-tabs {
        margin-bottom: 20px; /* Espacio entre las pestañas y los gráficos */
    }
    .nav-tabs .nav-link {
        font-family: 'Arial', sans-serif; /* Cambia la fuente a Arial */
        font-size: 16px; /* Aumenta el tamaño de la fuente */
        font-weight: bold; /* Hace el texto en negrita */
        color: #ffffff; /* Establece el color del texto a blanco */
        background-color: #2d4b6b; /* Color de fondo azul para las pestañas no activas */
        border-radius: 5px; /* Bordes redondeados */
        margin-right: 5px; /* Espacio entre las pestañas */
    }

    .nav-tabs .nav-link.active {
        background-color: #3d6b34; /* Color de fondo para la pestaña activa */
        color: #ffffff; /* Color del texto para la pestaña activa */
    }
    .nav-tabs {
        margin-top: 30px; /* Espacio en la parte superior */
        margin-bottom: 20px; /* Espacio entre las pestañas y los gráficos */
        margin-left: 30px; /* Añade espacio a la izquierda para alejarlo de la orilla */
    }

    .card-header {
        background-color: #f8f9fa; /* Fondo claro para el encabezado */
        padding: 10px;
        font-family: 'Helvetica', sans-serif; /* Fuente moderna y limpia */
        color: #333; /* Color de texto oscuro para mejor legibilidad */
        text-align: center; /* Alineación del texto */
    }

    .responsive-iframe {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; /* Proporción para gráficos de 16:9, ajusta según sea necesario */
        height: 500px; /* Asegura suficiente altura */
    }

    .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        margin: 0;
    }

    .texto-prueba {
        font-family: 'Arial', sans-serif; /* Tipo de letra */
        color: #2d4b6b; /* Color del texto */
        text-align: center; /* Centra el texto horizontalmente */
        font-size: 18px; /* Tamaño del texto */
        margin-top: 20px; /* Espacio en la parte superior */
        margin-bottom: 20px; /* Espacio en la parte inferior */
    }
    
    .table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table td {
    font-size: 16px;
}
</style>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-graficos-actuales-tab" data-toggle="tab" href="#nav-graficos-actuales" role="tab" aria-controls="nav-graficos-actuales" aria-selected="true">Gráficos sobre Desempleo</a>
        <a class="nav-item nav-link" id="nav-nuevos-graficos-tab" data-toggle="tab" href="#nav-nuevos-graficos" role="tab" aria-controls="nav-nuevos-graficos" aria-selected="false">Gráficos sobre PIB</a>
        <a class="nav-item nav-link" id="nav-graficos-inflacion-tab" data-toggle="tab" href="#nav-graficos-inflacion" role="tab" aria-controls="nav-graficos-inflacion" aria-selected="false">Contenido en General</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-graficos-actuales" role="tabpanel" aria-labelledby="nav-graficos-actuales-tab">
        <!-- Contenido existente de gráficos -->
        <p class="texto-prueba" style="font-family: 'Georgia', serif; font-size: 18px; color: #172336; text-shadow: 1px 1px 2px grey; text-align: center;">Todos los datos mostrados en los graficos pertenecen a El salvador y estan expresados en porcentajes(%):</p>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                             <iframe src="https://datos.bancomundial.org/share/widget?end=2023&indicators=SL.UEM.ADVN.MA.ZS&locations=SV&most_recent_value_desc=false&start=2018&view=chart" width='100%' height='500' frameBorder='0' scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                        <iframe src="https://datos.bancomundial.org/share/widget?end=2022&indicators=SL.UEM.ADVN.FE.ZS&locations=SV&start=2018&view=chart" width='100%' height='500' frameBorder='0' scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                        <iframe src="https://datos.bancomundial.org/share/widget?end=2023&indicators=SL.UEM.TOTL.FE.ZS&locations=SV&most_recent_value_desc=false&start=2018&view=chart" width='100%' height='500' frameBorder='0' scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                        <iframe src="https://datos.bancomundial.org/share/widget?end=2023&indicators=SL.UEM.TOTL.MA.ZS&locations=SV&most_recent_value_desc=false&start=2018&view=chart" width='100%' height='500' frameBorder='0' scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                        <iframe src="https://datos.bancomundial.org/share/widget?end=2023&indicators=SL.UEM.TOTL.ZS&locations=SV&most_recent_value_desc=false&start=2018&view=chart" width='100%' height='500' frameBorder='0' scrolling="no" ></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                        <iframe src="https://datos.bancomundial.org/share/widget?end=2023&indicators=SL.UEM.ADVN.ZS&locations=SV&most_recent_value_desc=false&start=2018&view=chart" width='100%' height='500' frameBorder='0' scrolling="no" ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-nuevos-graficos" role="tabpanel" aria-labelledby="nav-nuevos-graficos-tab">
        <p class="texto-prueba" style="font-family: 'Georgia', serif; font-size: 18px; color: #172336; text-shadow: 1px 1px 2px grey; text-align: center;">Datos sobre El producto interno bruto (PIB) en El Salvador:</p>
        <!-- Aquí se pueden insertar nuevos gráficos -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                        <iframe src="https://datos.bancomundial.org/share/widget?end=2022&indicators=NY.GDP.MKTP.CD&locations=SV&start=2018" width='100%' height='500' frameBorder='0' scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 px-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <div class="responsive-iframe">
                        <iframe src="https://datos.bancomundial.org/share/widget?end=2022&indicators=NY.GDP.MKTP.KD.ZG&locations=SV&start=2018" width='100%' height='500' frameBorder='0' scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Repetir para más gráficos según sea necesario -->
        </div>
    </div>
    <div class="tab-pane fade" id="nav-graficos-inflacion" role="tabpanel" aria-labelledby="nav-graficos-inflacion-tab">
        <h1 style="font-family: 'Georgia', serif; font-size: 28px; color: #34568B; text-shadow: 1px 1px 2px grey; text-align: center;">Datos Económicos de El Salvador</h1>
        <h1 style="font-family: 'Georgia', serif; font-size: 28px; color: #34568B; text-shadow: 1px 1px 2px grey; text-align: center;">Datos del Desempleo</h1>
        <p class="texto-prueba" style="font-family: 'Georgia', serif; font-size: 18px; color: #172336; text-shadow: 1px 1px 2px grey; text-align: center;">Los Datos que se muestran en la tabla, estan expresados en porcentajes sobre toda la poblacion de fuerza laboral.</p>
        <p class="texto-prueba" style="font-family: 'Georgia', serif; font-size: 18px; color: #172336; text-shadow: 1px 1px 2px grey; text-align: center;">Tengamos en cuenta que los porcentajes de las ultimas 3 columnas son fracciones del porcentaje total:</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table tablesorter" style="text-align: center;">
                <thead class="text-primary" style="background-color: #34568B; color: white;">
                  <tr>
                    <th>Año</th>
                    <th>Total (%)</th>
                    <th>Educación Avanzada (%)</th>
                    <th>Educación Intermedia (%)</th>
                    <th>Educación Básica (%)</th>
                  </tr>
                </thead>
                <tbody style="background-color: #f8f9fa;">
                  <tr>
                      <td>2018</td>
                      <td>4.0</td>
                      <td>6.6</td>
                      <td>6.0</td>
                      <td>3.8</td>
                  </tr>
                  <tr>
                      <td>2019</td>
                      <td>4.1</td>
                      <td>5.0</td>
                      <td>6.2</td>
                      <td>3.7</td>
                  </tr>
                  <tr>
                      <td>2020</td>
                      <td>5.0</td>
                      <td>6.4</td>
                      <td>8.2</td>
                      <td>3.4</td>
                  </tr>
                  <tr>
                      <td>2021</td>
                      <td>4.3</td>
                      <td>5.7</td>
                      <td>8.1</td>
                      <td>4.0</td>
                  </tr>
                  <tr>
                      <td>2022</td>
                      <td>3.0</td>
                      <td>6.1</td>
                      <td>6.1</td>
                      <td>3.6</td>
                  </tr>
                  <tr>
                      <td>2023</td>
                      <td>2.7</td>
                      <td>5.2</td>
                      <td>4.0</td>
                      <td>2.6</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <h1 style="font-family: 'Georgia', serif; font-size: 28px; color: #34568B; text-shadow: 1px 1px 2px grey; text-align: center;">Datos del Producto Interno Bruto (PIB)</h1>
        <p class="texto-prueba" style="font-family: 'Georgia', serif; font-size: 18px; color: #172336; text-shadow: 1px 1px 2px grey; text-align: center;">La tabla siguiente muestra Datos actualizados de valor del PIB; representante maximo de la economia en porcentajes de crecimiento y en millones:</p>
        <table class="table tablesorter " id="">
            <thead class=" text-primary" style="text-align: center;">
              <tr>
                <th>Año</th>
                <th>($ mil Millones)</th>
                <th>(%)</th>
            </thead>
            <tbody style="text-align: center;">
              <tr>
                  <td>2018</td>
                  <td>26.02</td>
                  <td>2.4</td>
              </tr>
              <tr>
                  <td>2019</td>
                  <td>26.88</td>
                  <td>2.4</td>
              </tr>
              <tr>
                  <td>2020</td>
                  <td>24.93</td>
                  <td>-7.8</td>
              </tr>
              <tr>
                  <td>2021</td>
                  <td>29.45</td>
                  <td>11.2</td>
              </tr>
              <tr>
                  <td>2022</td>
                  <td>32.49</td>
                  <td>2.6</td>
              </tr>
            </tbody>
          </table>

    </div>
</div>
{% endblock %}

