{% extends "base.html" %}

{% block content %}
<style>
  body {
    background-color: #f8f9fa;
  }
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-header {
    background-color: #223447;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  .card-header2 {
    
    color: rgb(28, 20, 54);
    text-align: center;
  }
  .card-body {
    padding: 2rem;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-group input {
    width: 100%;
    max-width: 300px;
  }
  .btn-primary {
    background-color: #223447;
    border: none;
  }
  .btn-primary:hover {
    background-color: #223447;
  }
  .btn-link {
    color: #223447;
  }
  .btn-link:hover {
    color: #223447;
    text-decoration: none;
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1>Inicio de Sesion</h1>
        </div>
        <div class="card-body">
          <p class="text-danger text-center">
            {{ error }}
          </p>
          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
              {{ form.as_p }}
            </div>
            <div class="form-group text-center mt-4">
              <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            </div>
            <div class="card-header2">
              <h1>¿No tienes cuenta?</h1>
            </div>
            <div class="form-group text-center mt-3">
              <a href="/signup" class="btn btn-link">Registrarse</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Aquí va el contenido principal de la página 
<form action="" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <button>
    Signin
  </button>
  <button>
  <a href="/signup" class="nav-link">Register</a>
  </button>
</form>
-->

{% endblock %}